[2020-05-14 15:47] ViktoriaNeva opened #1 "Send me an invitation"
Hi! Send me an invitation, please. I want to test pre alpha

[2020-05-14 19:36] levelupik commented on #1
Hi, @ViktoriaNeva !

Glad to see you in pre-alpha.

Here is your invitation code:
`Fk+dgVm9qlGn.3E9yFwGgclp.Q8Y@5fDN`

You can use it on https://finalem.levelupik.com

Our current developing page is https://finalem.levelupik.com/display

[2020-05-14 20:34] ViktoriaNeva opened #2 "Active all button area"
To click on buttons - user should click on the image on the button

More comfortable - should be active for clicking all button area
![2020-05-14_23-24-18](https://user-images.githubusercontent.com/5111608/81983040-67630180-963b-11ea-8197-b40696086962.png)
![2020-05-14_23-25-07](https://user-images.githubusercontent.com/5111608/81983046-67fb9800-963b-11ea-9a5e-933d3eb8c426.png)

[2020-05-14 21:59] #1 closed, assigned to nobody

[2020-05-16 19:34] levelupik commented on #2
Thank you, for your interest.

Good idea, it will be added to the next releases.

[2020-05-17 07:23] ViktoriaNeva commented on #2
You are so generous and kind!
Great job

[2020-05-17 11:02] ViktoriaNeva opened #3 "No text in the "text body part" or "list of notes part""
Screenshots attached.
In the first case when no text in the text body part, probably reproduces only similar texts entered
![2020-05-17_13-58-19](https://user-images.githubusercontent.com/5111608/82142707-f98b2580-9846-11ea-9c95-7ce580b145cb.png)
![2020-05-17_13-59-21](https://user-images.githubusercontent.com/5111608/82142709-fabc5280-9846-11ea-8cae-d61edee71f68.png)

[2020-05-17 11:09] ViktoriaNeva opened #4 "Keyboard "Enter" does not work for login"
User must click by mouse on the login button on the screen. Will be more comfortable to use keyboard"Enter"

[2020-05-17 11:11] ViktoriaNeva opened #5 "Notes can live without category"
Steps to reproduce:
1. Create category "First"
2. Create note: "Note" with some text "text"
3. Delete category "First" - case 1
4. Create category with any name "New category" - case 2

Actual Result:
Case 1:
Screenshot "first" used
Continuing display notes with text
Case 2:
All notes returned nothing deleted actually, but now notes in the new category
What if user wants to delete ALL notes and fo

[2020-05-17 11:14] ViktoriaNeva opened #6 "Is it possible to enhance switching places notes and categories by drag-and-drop"
If user will have possibility to switch order of his notes or categories

[2020-05-17 19:08] levelupik commented on #6
Yes, it is great functionality, thank you.

It is planned to implement in future releases, just after the main functionality will work as expected.

@ViktoriaNeva , you will be informed when it will be implemented.

[2020-05-17 19:32] levelupik commented on #5
Thank you, @ViktoriaNeva .
This bug case was reproduced.

Need to think about how to implement a better user experience on deleting many notes.

But removing all notes after removing category, of course, will be fixed.

[2020-05-17 19:32] levelupik commented on #5
It is definitely not a feature.

[2020-05-17 19:42] levelupik commented on #4
You have a good speed of suggestions for improvements.
This improvement planned in the first iteration of the developing, but after the base functionality was planned to make a Display program firstly.

After your suggestion, it will be replanned and added in the next iterations.

[2020-05-17 19:52] levelupik commented on #3
So, if you create two categories and two notes in each of them. After changing these notes and quick switching between them, the changes may gone.
Is it right?

[2020-05-18 08:14] ViktoriaNeva commented on #3
No.
Changes are not gone. They are not displaying in the second block

[2020-05-18 08:44] ViktoriaNeva opened #7 "Add possibility to link another note"
When author of the note writing it, it would be cool to make links to another author’s notes

[2020-05-20 19:20] ViktoriaNeva opened #8 "Grey or black text when past it"
Copy some text from somewhere, f.e.: https://ru.lipsum.com/feed/html

Should be auto colored with default text color for LeveLupik

Paste it to the note's text
Screenshot:
![2020-05-20_22-17-50](https://user-images.githubusercontent.com/5111608/82488119-0e3a1880-9ae8-11ea-9992-b1aa963b5c33.png)

[2020-05-20 19:24] ViktoriaNeva opened #9 "Text in the note if created new one"
Steps to Reproduce:
1. Create new category
2. Create new note in the category
3. Write some text in the note
4. Click the button create new note

Actual Result:
Text from the previous note left
see screenshot

Expected Result:
Empty fields
![2020-05-20_22-21-43](https://user-images.githubusercontent.com/5111608/82488536-b7810e80-9ae8-11ea-914f-b69ca1ee2823.png)

[2020-05-20 19:39] ViktoriaNeva opened #10 "Is it feature? The same name of categories"
Is it ok that user can create categories with similar names?
![2020-05-20_22-25-24](https://user-images.githubusercontent.com/5111608/82489694-c1a40c80-9aea-11ea-8f2e-08583996e86a.png)

[2020-05-20 19:40] ViktoriaNeva opened #11 "Does category can be without name?"
![2020-05-20_22-39-59](https://user-images.githubusercontent.com/5111608/82489794-e1d3cb80-9aea-11ea-8c10-8adede297d92.png)

[2020-05-20 19:51] ViktoriaNeva opened #12 "I can write new note while creating new category"
Steps To Reproduce:
1. Click on the button "Create new category" - DO NOT "Enter"
2. Click button "Create new note"

Actual Result:
User can create notes in the previous selected category
![2020-05-20_22-46-13](https://user-images.githubusercontent.com/5111608/82490481-01b7bf00-9aec-11ea-9db3-0004a41c4fe6.png)

Expected Result:
Some ideas:
1. Just auto submit category, IF user clicked button "Crea

[2020-05-20 19:54] ViktoriaNeva opened #13 "Placeholders"
![2020-05-20_22-53-04](https://user-images.githubusercontent.com/5111608/82491112-e305f800-9aec-11ea-8600-cc7b51b583ce.png)

[2020-05-20 20:03] ViktoriaNeva opened #14 "Possibility to change width of the fields"
It would be cool if user will have possibility to change width of the fields.
F.e. user love to create categories with long names. It would be way uncomfortable to scroll names

![2020-05-20_22-59-50](https://user-images.githubusercontent.com/5111608/82491828-e2ba2c80-9aed-11ea-8a4e-9c41eb31becf.gif)

[2020-05-22 13:19] Vetgam opened #15 "Mismatch on how notes are displayed between the second and third columns"
**Steps To Reproduce**:
Create some new note with text in the second column
Do text wrapping in the third column
![image](https://user-images.githubusercontent.com/44175945/82671652-e19d1280-9c47-11ea-9d1a-a4c4cd2407a9.png)

**Actual result**:
Mismatch on how notes are displayed between the second and third columns

**Expected result**:
User should see the text without mismatches

[2020-05-22 13:42] Vetgam opened #16 "Category with many spaces in the title doesn't display correctly"
**Steps to reproduce**:
Create a new category with many spaces in the title. For example "Something       like         that".
Pay attention to the created category title.
Click on the created category then click on the button "edit".
Pay attention to how the category name truly displays.
![weirdNoteTitleLogic](https://user-images.githubusercontent.com/44175945/82673802-0d6dc780-9c4b-11ea-9578-03d9

[2020-05-22 15:32] levelupik commented on #7
I agree, great functionality.
It is a lot of ideas about the implementation of this functionality.
Can you clarify a little bit, please?

Is it right, that you would like to save the source link in your note?
And you want someplace in your note to store the link of the other author, from where you read something interesting?

So is it like 'Links' block on Wikipedia?
Or it is like something anothe

[2020-05-22 17:13] levelupik commented on #8
Great, thank you.
Of course, it is should be more comfortable for the user.

Right now need to think about how to implement it more comfortable way.
It may be some button to drop the styles, or something similar.

Because on the other hand you steel can expect copy and paste with the same styles as on the source.
Will be implemented before Live.

[2020-05-22 17:54] levelupik commented on #9
Thank you!
It is a bad bug, in the caching system as I guess.

Sorry for that, it will be fixed in the next release.

[2020-05-22 18:05] levelupik commented on #10
Yes, totally.
With that, you can meet when trying to make two categories as separators, with the name '---------' - system will not try to stop you.
Or if you will meet words written the same but have a difference for you.
"James while John had had had had had had had had had had had a better effect on the teacher"

[2020-05-22 18:14] levelupik commented on #11
Thank you, for this question.
Yes, it is.

You may want to make a name later, or it is some your personal stuff without a name, but only you know what exactly store there.
In this way, if someone will be behind you, and you would like to show him some of your notes, this category without a name will not cause anything in his thoughts.
A little bit of protection stuff.

[2020-05-22 18:25] levelupik commented on #12
Okay, thank you.
It is something on which needs to think about.

Because right now the system sees the previously selected category as active, and understands your request if you want to create a note.
Maybe it is should be a more native way.

[2020-05-22 18:36] ViktoriaNeva commented on #11
Great! Thank you. This is amazing idea. I know what I will store in that kind of category

[2020-05-22 18:36] #11 closed, assigned to nobody

[2020-05-22 18:36] levelupik commented on #13
Yes, thank you.

A note placeholder already planned in the next few releases.
In plans to put a date of the created note there.
But this information may be not enough, so it is on the sketch step right now.

[2020-05-22 18:37] ViktoriaNeva commented on #10
Thank you for the answer

[2020-05-22 18:37] #10 closed, assigned to nobody

[2020-05-22 18:43] levelupik commented on #14
Got it.
Especially, if the name is a few pixels bigger then the column width.

Okay, it is a good functionality and it is planned to realize.
Thank you for the request.

[2020-05-22 18:44] ViktoriaNeva commented on #7
No. I meant another link

For example, I have notes with titles:
One
Two
Three
Four

Then I created a note with name “Five” and wrote something in it. Then I decided that I have mentioned similar idea in the note “Three” and I want to make a link in the note “Five” to the note “Three”. Do you know what I am saying?

This can be implemented in several ways
First: drag-n-drop.
Second: f.e. with sign

[2020-05-22 18:54] levelupik commented on #15
Thank you @Vetgam for your response.

Need to think about this stuff, because it may have unexpected experience.

Right now preview block is like a quick possibility for remember or understand the context, and it is just removing white spaces and line breaks, for displaying just a text.
But if we imagine that this block should be like a mirror of the content, then we may have a situation when prev

[2020-05-22 18:59] levelupik commented on #16
Thank you, for your request.
It is a bug.
Of course the content of the category should look the same on editing and on view.

It will be fixed in the next releases.

[2020-05-22 20:10] Vetgam commented on #15
@levelupik Let's see. I want you to understand me right. If it's a feature - it's okay.
But let me show you a few cases where it looks strange.

1. A shopping list
![image](https://user-images.githubusercontent.com/44175945/82705276-12993980-9c80-11ea-9a8d-3a18cd96aab6.png)
In this case I prefer that text should be with my text wrapping. It is more comfortable.

2. Some citations
![image](https://

[2020-05-23 08:29] ViktoriaNeva commented on #15
@levelupik
He has a point.

I can add also one thing.
What if user has only image? It looks like empty in the second column.
![F8DEA510-852E-41D6-9B1F-F8E29A8906FA](https://user-images.githubusercontent.com/5111608/82725856-a7378200-9ce8-11ea-86c0-7a3d41c9d82b.jpeg)

[2020-05-23 08:36] ViktoriaNeva opened #17 "No image after reloading page"
Steps to reproduce:
1. Create note
2. Past image in the text of the note
3. Reload the page
4. Go to created note with an image

Actual Result:
No image
![7F09EED3-A3A6-4158-AB8E-B018E3F682E5](https://user-images.githubusercontent.com/5111608/82725968-91768c80-9ce9-11ea-8882-cc312ee4c1c9.png)

Expected Result:
Image in the note

[2020-05-23 08:42] ViktoriaNeva opened #18 "Russian language has different style for title name"
Is it ok that title written in Russian language has different style then the others languages?
It looks like title in Russian more bold
![E09A4F22-2ABD-48C1-B927-BA4C315B1570](https://user-images.githubusercontent.com/5111608/82726082-76f0e300-9cea-11ea-8576-a3f6de149844.png)

Let’s see in the one title two different languages
![9967472D-81BB-4642-B751-08F127150582](https://user-images.githubuserc

[2020-05-23 08:56] ViktoriaNeva opened #19 "If title too long text of the note in the second column overlaps (Mobile version and small screens)"
Steps to reproduce:
1. Write long title, f.e.: "This is the title long title"
2. Write text more then 29 symbols
3. Lets look to the preview

Actual result:
In the small screen it will be not very pretty to look. Bottom of the text a little bit cut
![2020-05-23_11-56-21](https://user-images.githubusercontent.com/5111608/82726510-58401b80-9ced-11ea-979a-49b207d374c8.png)

But on very small screen l

[2020-05-23 09:11] ViktoriaNeva opened #20 "Text doesn't saved if fast write and reload the page"
See the video
![2020-05-23_12-10-09](https://user-images.githubusercontent.com/5111608/82726710-8a9e4880-9cee-11ea-8db4-43f1825c890f.gif)

[2020-05-23 09:15] ViktoriaNeva opened #21 "I don't like cut title logic"
Steps to Reproduce:
1. Lets text name of the title
![2020-05-23_12-12-06](https://user-images.githubusercontent.com/5111608/82726722-a3a6f980-9cee-11ea-8a3e-03b8950134a4.png)
2. Lets delete only one letter
![2020-05-23_12-12-51](https://user-images.githubusercontent.com/5111608/82726739-bd484100-9cee-11ea-837b-6114f127ccd6.png)

Expected Result:
I don't like that title cut to two letters but after

[2020-05-23 20:34] ViktoriaNeva opened #22 "Pretty icon for pretty LeveLupik"
I think would be cool to have beautiful icon for LL

Now with saving only L shows

![43DF8B19-BB18-46E8-A605-114B30E0892F](https://user-images.githubusercontent.com/5111608/82740069-e3e99480-9d4d-11ea-8d1c-12fc6fa0d90d.jpeg)

[2020-05-24 08:49] ViktoriaNeva opened #23 "Suggest to start Test Management Tool"
I think would be great to start writing test cases for LL before it become difficult and will have not much test cases to create.
1. In the next releases we could do smoke tests to check if everything works
2. Plus with increasing functionality we will add test cases with no missing.
3. Now it will be simpler to start creating test cases with simple functionality

I suggest TestLink
It’s free and

[2020-05-24 19:43] ViktoriaNeva opened #24 "Subcategories"
Are you planning add subcategories?
I am using LL and I really need subcategories

[2020-05-24 20:46] ViktoriaNeva opened #25 "CSS styles code in the preview column"
Steps to Reproduce:
1. Copy the text with styles, f.e. from here: https://reactjs.org/docs/testing.html
2. Create new note
3. Past some text from the site below

Actual Result:
Preview column has a style code
![2020-05-24_23-41-30](https://user-images.githubusercontent.com/5111608/82764633-e664f080-9e18-11ea-9ce9-10adeb02a8d0.png)
![2020-05-24_23-41-54](https://user-images.githubusercontent.com/51

[2020-05-25 07:53] D-Pav opened #26 "Send me an invitation, please"
Hello,
Please send me an invitation, I'd like to participate in the project as QA

[2020-05-25 15:11] levelupik commented on #26
Hello @D-Pav !

Thank you for your interest in the Project.
Here is your invitation code:
`flyj;yE.euqq3LEWh5xSBtB?.gpWJxVMP9`

You can use it on https://finalem.levelupik.com
The current developing page is https://finalem.levelupik.com/display

[2020-05-25 15:16] D-Pav commented on #26
Thank you

[2020-05-25 15:16] #26 closed, assigned to levelupik

[2020-05-25 15:23] levelupik commented on #17
Thank you @ViktoriaNeva ,

Agreed, text block functionality at the moment just pure textarea.
Planned to enhance the functionality of it at the next releases.

[2020-05-25 15:34] levelupik commented on #18
Will check it because the font family of the text should not have a different drawing of the letter on Russian and English.
It is planned to cover as many languages as it can, and should look at the same drawing style.

Thank you for this case.

[2020-05-25 20:51] ViktoriaNeva opened #27 "Just missed "is" in the error message"
![2020-05-25_23-46-43](https://user-images.githubusercontent.com/5111608/82842553-acf8b780-9ee2-11ea-98cd-044c0ea6d8eb.png)

[2020-05-25 22:35] levelupik commented on #19
True, need to think about small screen and mobile segments, and how this preview block should look like.

Thank you,
Planned it to the future.

[2020-05-25 22:45] levelupik commented on #20
The current reactivity system doesn't count such fast users activity.
So it is already should be reviewed.

It seems it will be reviewed a little bit earlier than been planned.
So, great case, @ViktoriaNeva thank you.

[2020-05-25 22:52] levelupik commented on #21
Okay, looks like need to integrate some more intelligent system of the cutting.
It is possible to calculate, but it is should consider the width of the column and possible space to render, it may be a difficult process.

Good questions, need to think about.

[2020-05-25 23:01] levelupik commented on #22
Near such giants looks like only a Big Black Dragon will look worthily, but Kali Linux already gets this position... So...

Okay @ViktoriaNeva, planned a pretty icon for a pretty LeveLupik.

[2020-05-25 23:12] levelupik commented on #23
@ViktoriaNeva great idea.
Let's make a discussion.
Would you like, please, to describe a little bit of this QA stuff?

This TestLink system should help QA persons to have a place where they can store a ToDo plan?
Is it request much functionality to make our own system?
Or TestLink has some big and hard in implementation killer feature, with what it is making a QA life much easier?

Is it possible

[2020-05-25 23:16] levelupik commented on #24
Yeah, it is great functionality, and actually LeveLupik backend systems are already ready to process such requests.
But on Front it is waiting for the Drag and Drops animation implementation.

Planned at the next releases.

[2020-05-25 23:28] levelupik commented on #25
It is a good scenario.
Need to teach preview block to understand differents between the user entered tags, and real DOM elements.

Need to make an investigation to searching better realization.

[2020-05-25 23:33] levelupik commented on #27
Oh, you are already got at the reverse engineering point.
Such a great to hear.

Thank you for this error, the fix will be added in the next release.

[2020-05-26 00:08] levelupik commented on #15
@ViktoriaNeva please, be more polite to @Vetgam.
Hard imagine an intelligent community which free to say something that can be hurt other people without reasons.
We all in the current life position met each other in the same place, and it will be a more smarty way to respect each other for this already.

--------

@Vetgam Thank you, for these cases.
Possible, need to review preview block functiona

[2020-05-26 00:11] levelupik commented on #15
@ViktoriaNeva Yes, the image is one more interesting case to preview.
It can be just reduced, but not sure is it will be a comfortable way.

[2020-05-26 06:39] ViktoriaNeva commented on #15
@levelupik @Vetgam
Yes. Sorry about that! It supposed to be a joke because of avatar.
Won’t happen again!

[2020-05-26 06:59] ViktoriaNeva commented on #15
I thought about thumbnail image.

But now I have another idea, if you approve it - I will make an issue.
What if mouse over a preview object and appear a little window with smooth effect.
F.e. I will add an example later

[2020-05-26 07:17] ViktoriaNeva opened #28 "Text does not saved if past it without manual changes"
Steps to Reproduce:
1. Create note
2. Copy some text:
Please, copy me. I am a good text
3. Past it in the created note - DO NOT do any changes with the note
4. Change active note or reload the page

Actual Result:
Note doesn’t saved

Expected Result:
Note saved

[2020-05-26 07:19] ViktoriaNeva commented on #24
@levelupik
Great! Than I’ll test it from the backend

[2020-05-26 07:25] ViktoriaNeva commented on #22
@levelupik
Yes, sorry about dragon. It can’t be used
![4A1208D6-36B2-4274-B4DA-5DD9882026C1](https://user-images.githubusercontent.com/5111608/82872045-23c19f00-9f3b-11ea-8f80-3472fcc3b346.jpeg)

[2020-05-26 07:28] ViktoriaNeva commented on #23
@levelupik
Yes. Sure. I need some time and I’ll provide you sketches and document.

@VetGam
Do you have any ideas about that? Please, your opinion in this question will be very helpful. What do you think QAs will need from Test Management System?

[2020-05-26 08:17] D-Pav opened #29 "Can there be a separate page with endgoals explained?"
Currently, there is no page where the users or the helpers can see what the end-goals for the project are besides some generic sentences on the https://finalem.levelupik.com/. Therefore, currently, it's hard to understand what enhancements can be proposed and where the project is headed or what can be expected from it.
Is it possible to add some page or add more specific description of the project

[2020-05-26 08:27] D-Pav opened #30 "Signing in doesn't change the message on the page"
When the user is signed in, the page still addresses them as 'Anonymous'. It would be better to have the username shown instead of that.
Please see the snapshot attached.
![LeveLupik_01](https://user-images.githubusercontent.com/50619796/82878160-c8e07580-9f43-11ea-939b-5ef17987fd98.jpg)

[2020-05-26 10:38] ViktoriaNeva commented on #30
I think it’s more complicated
If change “Anonymous” to the “user name”, the text should be changed too. Because this part is no longer actual to the registered user:
LeveLupik will be happy to welcome everyone to participate in this development phase.
In order to receive an invitation, please make a ticket on a GitHub.

[2020-05-26 20:38] levelupik commented on #28
Thank you, actual stuff.

Will be fixed in the next releases.

[2020-05-26 21:07] ViktoriaNeva opened #31 "Wrong sizes of the form because of the caches (Safari 13.0.4)"
Steps to Reproduce:
1. Add finalem.levelupik.com to Favorites
2. Open the site
3. Close "Safari" application
4. Open "Safari" application
5. Click on the LL site from the favorites

Actual Result:
![2020-05-26_22-53-58](https://user-images.githubusercontent.com/5111608/82950405-ee09ce00-9fad-11ea-8455-62afd4d4daec.png)
In my investigation - it's definitely because of the cache. If cache is turned

[2020-05-26 21:11] levelupik commented on #30
Actually it was implemented but not added to the build, because of @ViktoriaNeva description.

![2020-05-27_00-00-26](https://user-images.githubusercontent.com/58998177/82950183-8b183700-9fad-11ea-8133-46e7797d7358.png)
It looks nice, but the text meaning of the home page is lost.
It needs to review the text then for more friendly communication with the authenticated user, without duplicating what

[2020-05-26 22:14] levelupik commented on #2
@ViktoriaNeva The current clickable area of the top menu has been increased.
![2020-05-24_13-13-30](https://user-images.githubusercontent.com/58998177/82955273-27930700-9fb7-11ea-990d-6f8c818b80be.png)
to
![2020-05-24_13-13-56](https://user-images.githubusercontent.com/58998177/82955282-2c57bb00-9fb7-11ea-9226-d578a3ead7f5.png)

Thank you for this issue.

[2020-05-26 22:18] levelupik commented on #9
@ViktoriaNeva please, meet release v0.2.1 where this bug does not exist anymore.

[2020-05-26 22:19] levelupik commented on #27
It is already have been fixed.
Thank you for this issue.

[2020-05-29 15:49] ViktoriaNeva opened #32 "Selection of several categories"
Prerequisites:
1. You need several devices or browsers with LL
2. You need created some categories

Steps to Reproduce:
1. Create category on the first device/browser, f.e. test - DO NOT close LL
2. On the second device/browser open LL
3. Delete created category "test"
4. Return to the first device/browser DO NOT reload the LL
5. Create new category, f.e. "category1"

Actual Result:
![2020-05-29_1

[2020-05-29 15:59] ViktoriaNeva opened #33 "Chrome, IE Edge Twitching of the first column with categories"
Steps To Reproduce:
1. Click on the button for creating category

Actual Result:
Twitching
It has never been before. I think it started after the last release 0.2.1
![2020-05-29_18-25-08](https://user-images.githubusercontent.com/5111608/83279901-7d95c380-a1de-11ea-920b-8397c52c456e.png)
![2020-05-29_18-25-19](https://user-images.githubusercontent.com/5111608/83279913-81c1e100-a1de-11ea-9328-07e4a

[2020-05-29 19:00] #27 closed, assigned to levelupik

[2020-05-29 19:25] #9 closed, assigned to levelupik

[2020-05-29 19:25] #2 closed, assigned to levelupik

[2020-05-29 22:26] levelupik commented on #29
It is a great question.
Thank you @D-Pav for that.

Already have been created few sketches for the home page, where you can figure out more about the Project and it is functionality. It looks like a good idea, but have some interesting questions on the other hand.
1)) How the client can be sure that this promise will not change before release?
2)) The sketch is just an image with description, it i

[2020-05-29 22:32] levelupik commented on #29
And, of course, it is planned to have a full presentation on the Home page, when it will be ready for.

Really thank you for that mention.

[2020-05-30 07:34] ViktoriaNeva opened #34 "I need some more codes for testing registration"
1. Test is there any error messages on console
2. Register with api
3. Register with existing name and behavior of the system

It will be enough 5 codes (three for cases and two for unexpected situations)

[2020-05-30 21:06] levelupik commented on #31
Thank you for this bug.

Yes, it looks like Safari cache optimization.
On Safari 11.1.2 (13605.3.8) can't reproduce it.

Will try on your version of Safari a little bit later.

Is it a lot of annoying for you?

[2020-05-30 21:19] levelupik commented on #32
A great investigation with multiple devices.
Thank you for that.

Already planned to change the logic of items creating.
A fix will be added in the next releases.

[2020-05-30 21:42] levelupik commented on #33
This block has not been changed on this version, so maybe you see it just because of some other changes in your categories(Lorem Ipsum for example).

After adding a new category it will have to get status `focus` for quick inserting text reasons.
If a new category-creating on the not visible box area, the category box will jump to it.

So, for example, you have short category names and some long o

[2020-05-30 22:09] levelupik commented on #34
Okay, @ViktoriaNeva - it looks like it needs to make a code generator for the QA users.
For automatization reasons, it will be more comfortable and faster to get a new one from some technical page on the project.
Need to think about it, but for now `maybe possibly testing without codes`?

[2020-05-31 19:53] ViktoriaNeva commented on #34
Sure. It is possible and enough work to do

[2020-05-31 20:02] ViktoriaNeva commented on #31
Not a lot.
But I know that bug is here)

[2020-05-31 20:40] ViktoriaNeva commented on #33
Yes. This is because of long title of the category (I will add it to the STR)

No. It's Mac. But I believe there is no difference between OSs in this question.

So, Is it as designed?
To tell the truth, I don't like that icons of the categories do not shows anymore after "jumping" and titles too close to the left side of the form.

[2020-05-31 22:48] ViktoriaNeva opened #35 "If long name of the note - after loading the page title shows from the end"
Steps to Reproduce:
1. Create note with long title, .f.e: Etiam porta nunc non scelerisque rutrum. In et nisi eget nulla blandit condimentum a sit amet ipsum.
2. Reload the page
3. Open created note with long title

Actual Result:
Title shows from the end
![2020-06-01_00-17-10](https://user-images.githubusercontent.com/5111608/83364449-0a40ad00-a3aa-11ea-97d3-796ef71ccd54.png)

Expected Result:
Ti

[2020-06-05 20:08] ViktoriaNeva opened #36 "Problems with preview some symbols"
Steps to Reproduce:
1. Create new note
2. Write this symbols:
<

&
3. Look at the preview

Actual result:
![2020-06-05_23-05-53](https://user-images.githubusercontent.com/5111608/83918427-5e200d00-a781-11ea-92f4-14ca481141c5.png)

Expected Result:
The preview the same as symbols in the note: < > &

[2020-06-05 20:15] ViktoriaNeva opened #37 "If too long title for the note, selecting the others goes red titles"
Steps to Reproduce:
1. Create several notes with titles
2. Create new note with symbols more then 1536
3. Select another note

Actual Result:
- Title with symbols more then 1536 gone red
- The others notes with titles became red too
![2020-06-05_23-10-14](https://user-images.githubusercontent.com/5111608/83918879-3e3d1900-a782-11ea-835e-99f2c5166541.png)

Expected Result:
No red titles with others

[2020-06-05 20:35] ViktoriaNeva opened #38 "Possibility to place cursor in the end of the text if click on the empty space"
Steps to Reproduce:
1. Create the note
2. Write some text:
Nunc posuere mi vel accumsan pellentesque. Praesent vel vulputate nibh. Nam tincidunt erat ac sem aliquam, faucibus pellentesque odio laoreet. In hac habitasse platea dictumst. Nullam viverra convallis urna eget accumsan. Nunc id dolor id magna gravida convallis. Nunc mollis, erat at dictum ornare, urna est tempor elit, nec congue sapien n

[2020-06-06 20:59] levelupik commented on #38
This cursor jumping to the beginning on the note was a necessary measure because text editing block will take much time for implementation.

It will be modified in future versions, and the cursor will be more intelligent.
Thank you for this issue, @ViktoriaNeva .

[2020-06-07 21:14] levelupik commented on #34
Great, thank you.

[2020-06-07 21:14] #34 closed, assigned to levelupik

[2020-06-07 21:34] levelupik commented on #28
Can you check it is again, please?

It looks like a duplicate of https://github.com/levelupik/levelupik/issues/20
At the current version v0.2.1 text is saving by Steps:
1)) Go to `/display` page.
2)) Chose existed or a new category.
3)) Chose existed note
4)) Set cursor on body block
5)) `CTRL+V`(`Cmd+V`)
6)) Go to another category
7)) Go back to note on step 3.

Current:
The inserted text will be

[2020-06-08 21:18] ViktoriaNeva commented on #28
@levelupik It's true. Bug is not reproducible anymore

But I don't think that this is a duplicate of the #20
In this case pasted text wasn't saved, no matter how much time has been passed.
While in the #20 user should do reloading page or change active category/note really fast.

[2020-06-09 21:02] ViktoriaNeva commented on #23
@levelupik I was thinking through this question and for project like this (with no big team and having free contribution in the testing), LL does not need Test Designs or Test Plans, we need only possibility to write test cases and do test suits.

1. Tester can Create Test Case
    - Title
    - Steps
    - Expected Result
    - Priority
    - In the Test Suit? If yes - In which?
2. Create Test Su

[2020-06-10 21:08] ViktoriaNeva opened #39 "Blurring preview notes"
I think it would be a great idea for the project

Steps:
1. Load LL
2. Click the button in the top of the notes' page (Blur)

Expected Result:
From now all the preview are blurred. So if user loaded page with someone next to the user - nobody could read even one word from the blurred previews

[2020-06-10 21:12] ViktoriaNeva commented on #39
![2020-06-11_00-11-13](https://user-images.githubusercontent.com/5111608/84319113-28f82e00-ab78-11ea-93a3-4df49c2a9c42.png)
So titles are okey but no preview

[2020-06-15 20:34] levelupik commented on #28
Got it, thank you for feedback.

[2020-06-15 20:34] #28 closed, assigned to levelupik

[2020-06-15 21:01] levelupik commented on #39
So, for making more privacy in hiding notes, it will be better quick-lock a computer.

But for other days, when you may need to share a monitor or search something with someone and would like to found something in notes, but don't want to share your notes content list - it may help to just hide what possible to hide.

Great idea, thank you for that.
Added to the plan.

[2020-06-17 20:27] ritostopher commented on #16
The issue is fixed on v0.4, it is should look the same now.

[2020-06-17 20:29] levelupik commented on #16
The issue is fixed on v0.4, it is should look the same now.

[2020-06-17 20:29] #16 closed, assigned to levelupik

[2020-07-21 00:16] ViktoriaNeva commented on #16
@levelupik @Vetgam
After fixing this issue - preview has a problem with displaying enter.
![2020-07-21_02-59-36](https://user-images.githubusercontent.com/5111608/87998444-9fd20080-cb00-11ea-9dca-9678f6c4d63c.png)

[2020-07-23 20:09] levelupik commented on #4
Thank you for your request.
Have been improved in a minor update.

[2020-07-23 20:09] #4 closed, assigned to levelupik

[2020-07-27 23:04] ViktoriaNeva opened #40 "No redirect to home page after log out"
Steps to Reproduce:
1. Log in to the LL
2. Go to page /display
3. Log out on the page /display

Actual Result:
User still on the /display page
Categories which were opened in these session - can be opened after log out
![2020-07-28_02-02-55](https://user-images.githubusercontent.com/5111608/88600326-a15a7600-d076-11ea-9dbf-064a77c91b28.gif)
Expected Result:
User redirected on the LL's home page

[2020-09-06 09:54] ViktoriaNeva opened #41 "LeveLupik must do Styling"
Hi, LeveLupik, guys!

I am using LL all the time. And I need, very NEED styling my text

Please

[2020-09-06 10:43] ViktoriaNeva opened #42 "No jumping to the place in the note's column if reverting changes ctrl+z"
Tested in:
Safari (13.1)
Chrome (83.0.4103.61)

Prerequisites:
1. Create long note (longer then screen can show without scrolling)

Steps to Reproduce:
1. Scroll to the end of the note
2. Print something "Something"
3. Scroll to top of the note
4. Press "ctrl + z"

Actual Result:
Changes are reverted but user can not see this
see attachment video
![2020-09-06_13-42-54](https://user-images.githubus

[2020-11-22 20:58] ViktoriaNeva opened #43 "Not selected category after home page and back"
PREREQUISITES:
1. Created category, f.e. "Test"

STEPS TO REPRODUCE:
1. Select category "Test"
2. Click on the button in the left top corner to go to the "Home page" - screenshot 1
3. Click on the button in the left top corner to go to the page with notes - screenshot 2

ACTUAL RESULT:
screenshot 1
Selected category  in the left column
<img width="1280" alt="Screenshot 2020-11-22 at 22 47 11" src=

[2020-12-22 21:19] ViktoriaNeva opened #44 "No place holder after deleting text from the note"
Prerequisites:
1. Log in to LL
2. Go to any category

Steps to Reproduce:
1. Click to create a new note - case 1
2. Enter some text to the body of the note - NOT title
3. Delete all the text from the note - case 2

Actual Result:
case 1
There is a place holder "Empty note"
case 2
But after deleting text from the note there is no place holder
(watch the video)
https://user-images.githubusercontent.

[2020-12-22 21:35] ViktoriaNeva opened #45 "Remember place of the page after switching pages"
Steps to Reproduce:
1. On the Home Page scroll the page
2. Switch to the Note's Page
3. Select category
4. Scroll down notes from the category
5. Switch page to the Home Page - case 1
6. Switch page to the Note's Page - case 2

Actual Result:
Case 1:
Page scrolled to the top
Case 2
Note's in the second column scrolled to the top
(The same thing will be with categories)
(Watch the video)
https://us

[2020-12-22 21:45] ViktoriaNeva opened #46 "Different background color for Title and Note's text"
Steps to Reproduce:
1. Go to Notes
2. Create Note
3. Watch for the background colors for Title of the note and text

Actual Result:
Title background-color: #292929
Note's text  background-color: #282828

Expected Result:
Should be the same color

[2021-01-07 12:32] ViktoriaNeva opened #47 "Title should not be active if open the note"
Prerequisites:
1. Log in
2. Create note with long title (depends on screen width)

Steps to Reproduce:
1. Reload the page
2. Click on the created note to make it active

Actual Result:
1. Title is active for editing
2. If title' length more then screen' width, on the left side partial hiding
see screenshot
<img width="688" alt="2021-01-07_14-12-11" src="https://user-images.githubusercontent.com/51

[2021-01-08 20:02] levelupik commented on #35
Ok, thank you.

The idea is a possibility to edit the note after opening.
But it looks like need to make changes in this logic.

[2021-01-08 20:12] levelupik commented on #36
Thank you,
this is protecting stuff.
It will be checked, how to improve, and show these symbols.

[2021-01-08 20:19] levelupik commented on #37
Actual bug, thank you.
Will be fixed in one of the next sprints.

[2021-01-08 20:25] levelupik commented on #40
Great issue, it will be fixed in one of the next milestones.

[2021-01-08 20:34] levelupik commented on #41
Okay, it looks like you the most active contributor.
Expansion of the text block functionality is planned at the current Milestone.

LeveLupik will try to add base functionality of text editing at the next release.

[2021-01-08 20:41] levelupik commented on #42
Okay, thank you for this issue.
Need to investigate the usability of the current proposal.

It is just a static file, not a video, but the idea is understandable.

[2021-01-08 20:52] ViktoriaNeva opened #48 "To improve sorting design"
Environment:
Safari 14.0
Chrome 87.0.4280.67 (Official Build) (x86_64)

Prerequisites:
1. Create categories more then 3

Steps to Reproduce:
1. Change place one of the categories

Actual Result:
1. Sometimes green circle(with + sign) appear for a second
2. It's not very comfortable now. I think it would be better if line will help user (see screenshot)

Safari
see video
![2021-01-08_22-41-26 (1)](

[2021-01-08 20:55] levelupik commented on #43
@ViktoriaNeva  Thank you for this issue.
It is not reproducing.
Category system was under huge Code Refactoring, so it is possible that it was fixed there.

Could you check it again, please?

[2021-01-08 21:24] levelupik commented on #44
Could you check it again, please?
Can't reproduce this.

[2021-01-08 21:27] levelupik commented on #45
Okay, thank you for this ticket.
It is a good improvement to the User Experience.

It needs to investigate of storing position of the scroll.

[2021-01-08 21:31] levelupik commented on #46
Yeah, good point.
It will be fixed.

[2021-01-08 21:36] levelupik commented on #47
Okay, thank you.
Linking with the https://github.com/levelupik/levelupik/issues/35

It will be improved by the possibility to choose what you would like to do with the note.

[2021-01-08 21:48] levelupik commented on #48
The sorting logic will be improved with a more smooth reaction to user activities.
So it is not a finalized version of it.

The green line can make a little confusion after you trying to move one category into another.
This ticket will be open until the improvement not will be realized.

For a fix of the green plus sign, will be investigation.

[2021-01-13 20:27] ViktoriaNeva opened #49 "Wrong behaviour if click twice on editing"
Environment:
Chrome
Version 87.0.4280.141
Safari
Version 14.0
FireFox
84.0.2

Steps to Reproduce:
1. Click on the category
2. Click on the button "Edit"
3. Click on the button "Edit" again - case 1
4. Reload the page - case 2

Actual Result:
See video
https://user-images.githubusercontent.com/5111608/104506742-76e18280-55ee-11eb-87c4-0353b1412e36.mp4

case 1:
Note disappeared

case 2:
Note returne

[2021-01-13 20:36] ViktoriaNeva opened #50 "Enhancement: make active "newborn" category"
Prerequisites:
Should be created at least one category

Steps to Reproduce:
1. Create category
2. Look at the active category

Actual Result:
see video
Uploading 2021-01-13_22-30-56.mp4…
Active category which were selected in the first place
If user want to create several categories in sequence, user should click on the new created category every time

Expected Result:
New created category active

[2021-01-13 20:37] ViktoriaNeva opened #51 "Enhancement: make active "newborn" category"
Prerequisites:
Should be created at least one category

Steps to Reproduce:
1. Create category
2. Look at the active category

Actual Result:
see video
https://user-images.githubusercontent.com/5111608/104507728-dee49880-55ef-11eb-83b9-15541818197b.mp4
Active category which were selected in the first place
If user want to create several categories in sequence, user should click on the new created

[2021-01-13 20:39] #50 closed, assigned to nobody

[2021-01-13 20:39] ViktoriaNeva commented on #50
GitHub bug. Double created issue

[2021-01-13 20:43] ViktoriaNeva commented on #49
Addition for general bug

Steps to Reproduce:
1. Select category
2. Click on editing
3. Select another category
4. Click "Esc" on the keyboard - case 1
5. Click "Edit" - case 2

Actual Result:
https://user-images.githubusercontent.com/5111608/104508011-47cc1080-55f0-11eb-934b-c1ab01a7b574.mp4

case 1:
No reaction

case 2:
Disappeared selected in the first place category

After reloading all catego

[2021-01-13 20:52] ViktoriaNeva opened #52 "Wrong behaviour of sorting animation if browser history is cleared"
Environment:
Chrome
Version 87.0.4280.141
Safari
Version 14.0
FireFox
84.0.2

Prerequisites:
1. Should be created some categories
2. Cleare browsing data

Steps to Reproduce:
1. Log in
2. Go to tab with notes
3. Try to change sorting of the categories - case 1
4. Reload the page - case 2
5. Try to change sorting of the categories again - case 3

Actual Result:
see video
https://user-images.githubu

[2021-01-13 21:41] ViktoriaNeva opened #53 "Can't undo creating category if browsing data is cleared"
Environment:
Chrome
Version 87.0.4280.141
Safari
Version 14.0
FireFox
84.0.2

Prerequisites:
Cleared browsing data

Steps to Reproduce:
1. Log in
2. Click to create new category
3. Click "Esc" to undo creating

Actual Result:
Nothing happened
But after reloading user can undo creating with "Esc" button from his keyboard

Expected Result:
User can undo creating category independently from cache

[2021-01-13 22:09] ViktoriaNeva opened #54 "Safari thinks there is no title on the /display page and FireFox can not see name too"
see screenshot
Safari
<img width="916" alt="2021-01-13_23-46-47" src="https://user-images.githubusercontent.com/5111608/104516305-be6f0b00-55fc-11eb-880c-2a1f8d829293.png">

FireFox
<img width="731" alt="2021-01-14_00-16-22" src="https://user-images.githubusercontent.com/5111608/104516886-c67b7a80-55fd-11eb-9a47-4fb820d54685.png">

[2021-01-15 20:41] ViktoriaNeva opened #55 "Notes does not disappear if delete category"
Environment:
Chrome
Version 87.0.4280.141
Safari
Version 14.0
FireFox
84.0.2

Prerequisites:
Should be category with notes

Steps to Reproduce:
1. Click on the category to make it active
2. Click on the button delete
3. Confirm deleting

Actual Result:
Notes are still shown to the user
see video
https://user-images.githubusercontent.com/5111608/104776451-c8bb1180-5782-11eb-92fe-889b35bc29f2.mp4

E

[2021-01-19 23:57] levelupik commented on #49
Thank you, it is an important issue.
Will be fixed in the next release.

[2021-01-20 00:04] levelupik commented on #49
You're additional comments:

Need to investigate it.
This behavior potentially may have unexpected results, when you are working with the note and editing the category.
If the focus will be lost from category editing and added to the note, the application should understand to which element on the page need to apply the ESC click event.

[2021-01-20 00:18] levelupik commented on #51
Thank you for that behavior.
It will be good to investigate that functionality and implement more intelligent behavior.

What if you would like to create a category list based on some note content.
Then every time you will need to return the previously active category to find a title next category.

Maybe the system should watch the user active category choosing and based on this data make a decis

[2021-01-20 00:19] levelupik commented on #51
So the system will try to guess, what you expect from the next created category.

[2021-01-21 00:02] levelupik commented on #52
Thank you for that issue.
It will be investigated and fixed in the next releases.

[2021-01-23 23:37] levelupik commented on #53
Looks like it is not reproducing on the current project version.

Can you reproduce this bug?

[2021-09-05 22:10] levelupik commented on #40
Redirection is implemented after `logout`.

[2021-09-05 22:12] levelupik commented on #49
Double editing is fixed.

[2021-09-05 22:14] levelupik commented on #46
Input for the note title was moved into note.
Now it is the same background color.

[2021-10-08 18:55] #40 closed, assigned to levelupik

[2021-10-08 18:55] #49 closed, assigned to levelupik

[2021-10-08 18:55] #46 closed, assigned to levelupik

[2021-11-04 22:50] levelupik commented on #54
Thank you for the report, will be fixed.

[2021-11-05 22:07] levelupik commented on #54
Display will show correct title now at all browsers tabs and history.